meta(name='description' content='A simple & beautiful desktop client for WhatsApp Web. Chat without distractions on OS X, Windows and Linux. Enjoy themes, keyboard shortcuts, spell checking and native notifications.')
meta(name='keywords' content='whatsapp, web, messenger, chat, conversations, desktop, client')
meta(name='author' content='aluxian.com')
meta(name='copyright' content='aluxian.com')
meta(name='application-name' content='Whatsie')
  
meta(property='og:title' content='Whatsie – WhatsApp for Desktop')
meta(property='og:description' content='A simple & beautiful desktop client for WhatsApp Web. Chat without distractions on OS X, Windows and Linux. Enjoy themes, keyboard shortcuts, spell checking and native notifications.')
meta(property='og:type' content='website')
meta(property='og:image' content='https://whatsie.chat/img/preview.png')
meta(property='og:url' content='https://whatsie.chat')
meta(property='fb:admins' content='100000476749759')
meta(property='fb:app_id' content='882107051857027')

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:creator' content='@aluxian')
meta(name='twitter:image' content='https://whatsie.chat/img/preview.png')
