doctype html
html
  head
    title WhatsApp for Desktop

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
      
    link(rel='apple-touch-icon' sizes='57x57' href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon-180x180.png')
    link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/favicon-194x194.png' sizes='194x194')
    link(rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='/android-chrome-192x192.png' sizes='192x192')
    link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')
    link(rel='manifest' href='/manifest.json')
    meta(name='msapplication-TileColor' content='#00aba9')
    meta(name='msapplication-TileImage' content='/mstile-144x144.png')
    meta(name='theme-color' content='#009688')
      
    meta(name='description' content='A simple & beautiful desktop client for WhatsApp. Chat without distractions on any OS.')
    meta(name='keywords' content='whatsapp, messenger, chat, conversations, desktop, client, download')

    meta(name='author' content='aluxian.com')
    meta(name='copyright' content='aluxian.com')
    meta(name='application-name' content='WhatsApp for Desktop')
      
    meta(property='og:title' content='WhatsApp for Desktop')
    meta(property='og:description' content='A simple & beautiful desktop client for WhatsApp. Chat without distractions on any OS.')
    meta(property='og:type' content='website')
    meta(property='og:image' content='http://whatsapp.com/img/preview.jpg')
    meta(property='og:url' content='http://whatsapp-desktop.com')
    meta(property='fb:admins' content='100000476749759')
    meta(property='fb:app_id' content='882107051857027')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:creator' content='@aluxian')
    meta(name='twitter:image' content='http://whatsapp-desktop.com/img/preview.jpg')
      
    link(rel='canonical' href='http://whatsapp-desktop.com')
    script.
      if (document.location.host == 'aluxian.github.io') {
        document.location = 'http://whatsapp-desktop.com';
      }
      
    // inject:css

  body
    
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=882107051857027';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    section#header
      .container
        a.svg.logo(href='/')
          include ../svg/logo.svg
          
        h1.title WhatsApp for Desktop
        p.subtitle A simple & beautiful desktop client for WhatsApp.#[br]Chat without distractions on any OS.
        
        a.button.filled(href='#download' data-scroll) Coming on June 19
        span.notice Not an official app. No affiliation with WhatsApp.
    
    section.blue#platforms
      .container
        h2.title OS X, Windows & Linux
        
      img.wide(src='img/platforms.jpg' alt='Platforms Preview')
    
    section#featured
      .container
        h2.title Featured on
        p Are you one of the cool kids? Do people call you “press”?#[br]Write about #[i WhatsApp for Desktop] and you might be featured!
    
    section.blue#contact
      .container
        h2.title Keep in touch
        
        form(action='//aluxian.us7.list-manage.com/subscribe/post?u=88887250ab1b52820c884a673&amp;id=6e7c46127a' method='post' name='mc-embedded-subscribe-form' target='_blank')
          input.email(type='email' name='EMAIL' placeholder='you@awesome.com' required)
          div(style='position: absolute; left: -5000px;')
            input(type='text' name='b_88887250ab1b52820c884a673_6e7c46127a' tabindex='-1')
          input.submit(type='submit' value='SUBSCRIBE' name='subscribe')
        
        p You’ll receive app updates and news about other apps I create. No spam, I promise.
    
    section#download
      .container
        h2.title Check back soon!
        
      p The app will be available for download when it's officially launched, on June 19.
    
    footer
      .container
        p.left No affiliation with WhatsApp. Some images taken from #[a(href='https://www.whatsapp.com/') whatsapp.com]
        p.right Created with &hearts; by #[a(href='http://www.aluxian.com/') Alexandru Rosianu]

    // inject:js

    //- Twitter
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)
      ?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+
      '://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
      }}(document, 'script', 'twitter-wjs');
    
    //- GitHub
    script(async defer id='github-bjs' src='https://buttons.github.io/buttons.js')
    
    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45600261-7', 'auto');
      ga('send', 'pageview');
