doctype html
html
  head
    title Whatsie – WhatsApp for Desktop

    include ./includes/meta_head.jade  
    include ./includes/favicons.jade
    include ./includes/meta_descriptions.jade
    include ./includes/styles.jade

  body
    section#header
      .container
        a.logo(href='/')
          img(src='img/logo.png' alt='Whatsie Logo')
          
        h1.title Whatsie
        p.subtitle Whatsie is not available anymore. #[br] Please use the #[a.link(href='https://www.whatsapp.com/download/' target='_blank') official client].
