doctype html
html
  head
    title Terms and Conditions – Whatsie

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
      
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#4cba64')
    meta(name='apple-mobile-web-app-title', content='Whatsie')
    meta(name='application-name', content='Whatsie')
    meta(name='msapplication-TileColor', content='#333333')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#4cba64')

    // inject:css

  body
      
    section.legal.legal-1#header
      .container
        a.logo(href='/')
          img(src='img/logo.png' alt='Whatsie Logo')
          
        h1.title Whatsie
        
    section.legal.legal-2.inverted
      .container
        h2.legal.title Terms and Conditions
    
    section.legal.legal-3
      .container
        .content
          
          p Please read these terms carefully. By using Whatsie or a Whatsie related service, you agree to these terms. This is a legal document. The use of Whatsie is also governed by the terms written in the #[a.link(href='/eula.html') EULA].
          
          ol
            li
              span.legal-title Definitions
              
              p Whatsie is owned by Alexandru Rosianu (referred to as "I" or "Me"). As a customer of this Service you're a "User" or "You" according to this agreement. The App or any Services offered by me will be referred to as "Whatsie", "App" or "Service".

              p These Terms and Conditions ("Terms") include the #[a.link(href='/privacy.html') Privacy Policy].
            
            li
              span.legal-title Basic Terms
            
              p You must accept these Terms and the #[a.link(href='/privacy.html') Privacy Policy].
              p You must not use the Service for any illegal or unauthorized purpose.
              p You must not interfere or disrupt any other user's experience.
              p You understand and accept that I cannot be held responsible for any interaction you do within Whatsie.
              p Any violation of these Terms may result in suspension of specific Services.
            
            li
              span.legal-title General Conditions
            
              p I reserve the right to modify these Terms and the Privacy Policy at any time. You can object to any changes by deleting Whatsie from your  computer within 21 days. Otherwise, you agree to those changes.
            
              p I am not liable for any data loss, damage or banned accounts. It is in my interest that the Service is available 24/7, but I cannot guarantee any availability of certain features or the App itself.
            
              p Whatsie is open-source, so most parts of the App are public: the source code, the build process, the packaging scripts. You may obtain a copy of the source code and create your own clone of Whatsie, with the ability to have complete control over you data (within the limits of what WhatsApp Web allows). The source code is MIT licensed.
              
            li 
              span.legal-title Privacy Policy
              
              p You entitle Whatsie to collect information about your usage within the limits of the Privacy Policy.
              
            li 
              span.legal-title Indemnification
              
              p You agree to indemnify Whatsie for any deliberately caused damage you are responsible for. This may include attorney's fees.
              
            li 
              span.legal-title Final Conditions
              
              p I only support the official Whatsie app.
            
              p You are not allowed to transfer any rights and duties of this contract without my permission.
            
              p I am not responsible for any content of third party sites I link to.
            
              p Whatsie, these Terms and the Privacy Policy are subject to Romanian law. Place of jurisdiction for all disputes is Bucharest, Romania.
            
              p If individual articles of these Terms are void, the remaining Terms and Conditions remain unaffected.
          
          i.last-updated-at The last update to these Terms and Conditions was posted on May 6, 2016.
    
    footer
      .container
        p.left No affiliation with Facebook or WhatsApp. #[a(href='/terms.html') Terms and Conditions]. #[a(href='/privacy.html') Privacy Policy].
        p.right Coded with &hearts; by #[a(href='http://www.aluxian.com/') Alexandru Rosianu]

    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45600261-7', 'auto');
      ga('send', 'pageview');
